    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Sobre RedELA</h2>

                <p>RedELA es una organización sin ánimo de lucro creada e impulsada por afectados de ELA (Esclerosis Lateral Amiotrófica) y sus familiares y amigos.</p>

                <p>Nace a raíz de una sencilla <a href="https://www.facebook.com/jorge.abarcahernandez.5/posts/349583445229346">conversación en Facebook entre Jorge Abarca y Rosa Bermudo</a> - ¿y si nos unieramos? Somos casi 4000 enfermos, si cada uno donáramos 25 euros mensualmente, se obtendría una muy generosa cantidad para cubrir toda investigación.</p>

                <p>Tras esto y las reuniones mantenidas en Burgos por la <a href="http://plataformaafectadoela.org/">plataforma de afectados de ELA</a> con los cientificos españoles y dada su predisposición a unir fuerzas, nace este proyecto.</p>

                <p>Cuyo fin es recaudar fondos para colaborar con las distintas investigaciones sobre la ELA, para poder averiguar el origen de dicha patología, así como los posibles tratamientos para su cura.</p>

            </div>
        </div>
    </section>