    <!-- Colabora / Help Section -->
    <section id="colabora" class="content-section text-center">
        <div class="colabora-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Colabora con RedELA</h2>
                    <p>RedELA Investigación <br> CIF: G9020558</p>
                    
                    <p>Son bienvenidas todas las aportaciones voluntarias de cualquier persona, asociación, fundación o empresa que esté interesada en colaborar para subvencionar las distintas dichas investigaciones así como otros actos siempre con el mismo fin, la recaudación de fondos exclusivamente para los estudios sobre la Esclerosis Lateral Amiotrófica.</p>
                     <p>Muchos de nosotros ya estamos haciendo transferencias mensuales de 25€ al mes ¡Únete!</p>

                    <p style="color: #ff8c00;">IBAN ES4901826000140201699272</p>
                     
                    <!--<btn class="btn btn-default btn-lg">Copiar número de cuenta</btn>-->

                </div>
            </div>
        </div>
    </section>