    <!-- Colabora / Help Section -->
    <section id="colabora" class="content-section text-center">
        <div class="colabora-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Colabora con RedELA</h2>
                    <img alt="Redela Investigación Logo"src="img/logo-redela.png">
                    <p>CIF: G90205584</p>

                    <p>Entre 2015 y 2024, Redela Investigación estuvo en activo y recaudando fondos <br> exclusivamente para los estudios sobre la Esclerosis Lateral Amiotrófica.<br></p>

                    <p>Para ayudar apartir de ahora, colabora directamente con la Fundación Francisco Luzón. ¡Gracias!</p>
                    
                    <a href="https://www.ffluzon.org/" title="Fudación Luzón: Unidos contra la ELA" class="btn btn-default btn-lg"></a>

                    <br>
                </div>
            </div>
        </div>
    </section>
