    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="brand-heading">RedELA Investigación</h1>
                        <p class="intro-text">RedELA fue una organización para conseguir fondos para la investigación de la Esclerosis Lateral Amiotrófica.<br> Creada e impulsada por afectados de ELA y sus familiares y amigos.</p>
                        <a href="#about" title="Sobre RedELA" class="btn btn-circle page-scroll">
                        <strong class="fa fa-angle-double-down animated"></strong>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>
